.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    line-height: 0;
    border: 5px solid black;
    position: relative;
}

.circle::after {
    display: block;
    padding-bottom: 100%;
}

.circle .circleText {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
}